var convert = {
  parseValueRangeToShow: function (clusterAttribute) {
    if (!clusterAttribute) {
      return '';
    }
    var valueType = clusterAttribute.valueType;
    if (valueType === "text") {
      return ''
    }
    var valueArray = JSON.parse(clusterAttribute.valueRange)
    if (!valueArray) {
      return ''
    }

    var minVal = ""
    var maxVal = ""
    for (var i = 0; i < valueArray.length; ++i) {
      var value = valueArray[i]
      var key = value.key;
      var val = value.val;
      if (key == "min" || key == "0") {
        minVal = val;
      } else if (key == "max" || key == "1") {
        maxVal = val;
      }
    }
    var linkChar = valueType == "list" ? "/" : "~";

    var valueUnit = clusterAttribute.valueUnit;
    if (!valueUnit || valueUnit == 'null') valueUnit = ''

    return minVal + linkChar + maxVal + " " + valueUnit
  },
}

module.exports = {
  parseValueRangeToShow: convert.parseValueRangeToShow
}